# Diretório raiz dos arquivos TXT brutos da RAIS
# Estrutura esperada:
#   RAIS_DATA_DIR/
#     RAIS Vínculos/
#       RAIS 2022/
#         AC2022ID.txt
#         ...
#     RAIS Estabelecimentos/
#       Estb2022ID.txt
#       ...
RAIS_DATA_DIR=

# Diretório onde os arquivos Parquet serão gravados
# Será criado automaticamente se não existir
RAIS_OUTPUT_DIR=
